<!-- <app-data1></app-data1> -->
 <!-- <app-perent></app-perent>
 <app-ngmodule></app-ngmodule>
 <app-hostlister></app-hostlister>
 <button>add</button>
 <button>min</button>
 <button>ok</button>
 <app-if-else></app-if-else>
 <app-forloop></app-forloop>
 <app-style></app-style>
 <app-class></app-class> -->
 <!-- <app-viewprovider></app-viewprovider>
 <app-attributebinding></app-attributebinding>
 <app-pipe></app-pipe>
 <app-service1></app-service1>
 <app-service2></app-service2> -->
<div>
  <nav>
    <ul>
      <li >
      <a routerLink="/home">  home</a>
      </li>
      <li>
        <a routerLink="/about">about
          </a>
        </li>
        <li>
          <a [routerLink]="[{outlets:{outlet2:['aboutnew']}}]">about
            </a>
          </li>
          <li>
            <a routerLink="/login">ragister
              </a>
            </li>
            <li>
              <a routerLink="/ragister">ragister
                </a>
              </li>
              <li>
                <a routerLink="/rea">rea
                  </a>
                </li>

      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <router-outlet name="outlet2"></router-outlet>
